.artwork {
  display: block;
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
  object-fit: contain;
  filter: none !important;
}
.zoomArtwork {
  display: block;
  width: 26px;
  height: 26px;
  object-fit: contain;
  filter: none;
}
